packages:
  yum:
    git: []
commands:
  01_devtools_setup:
    # run this command from /tmp directory
    cwd: /tmp
    command: 'yum groupinstall -y "Development tools"'
    command: 'yum install -y redhat-lsb-core python36 openssl-devel libffi-devel mariadb-client'
    command: 'alternatives --install /usr/bin/pip3 pip3 /usr/bin/pip-3.6 1'

    
  02_increase_file_watchers_limit:
    command: 'echo "fs.inotify.max_user_watches=38192" | tee -a /etc/sysctl.conf'
    command: 'sysctl -p'

  02_upgrade_pip:
    command: python3 -m pip install --upgrade pip

  03_install_werkzeug:
    command: 'pip3 install -U Werkzeug'

