
# these commands run before the application and web server are
# set up and the application version file is extracted
commands:
  01_bench_install:
    # run this command from /tmp directory
    cwd: /opt
    # don't run the command if bench is already installed (file /usr/bin/node exists)
    test: '[ ! -f /usr/local/bin/bench ] && echo "frappe bench 5  not installed... installing"'
    #command: 'git clone -b 4.1 https://github.com/frappe/bench.git  bench-repo &&  pip install  -e bench-repo'
    command: 'pip3 install frappe-bench'

