
# these commands run before the application and web server are
# set up and the application version file is extracted
commands:
  00_onetime_setup:
    # run this command from /opt directory
    cwd: /opt
    # don't run the command if erpnext onetime setup has happened
    test: '[ ! -f /efs/frappe/erpnext_onetime_setup_successful ] && echo "frappe,erpnext onetime init in progress"'
    command: 'mkdir -p /opt/frappe; chown ec2-user:ec2-user /opt/frappe; su ec2-user -c "cd /opt/frappe && bench init --frappe-branch v12.5.1  frappe-bench && cd frappe-bench && bench get-app erpnext;";  date +"%s%N" > /opt/frappe/efsync.timestamp;  rsync -zavh /opt/frappe/ /efs/frappe/;touch /efs/frappe/erpnext_onetime_setup_successful '
  01_erpnext_install:
    # run this command from /opt directory
    cwd: /opt
    # don't run the command if erpnext is already installed (file /opt/frappe exists)
    command: 'echo Hi'
    test: '[ ! -f /opt/frappe ] && echo "frappe,erpnext not installed... installing"'
    command: 'mkdir /opt/frappe; rsync -zavh /efs/frappe/ /opt/frappe/ '

  02_efs_rsync:
    # run this command from /opt directory
    cwd: /opt
    test: '[ `cat /efs/frappe/efsync.timestamp` -ge `cat /opt/frappe/efsync.timestamp` ] && echo "efs fresher than opt"'
    command: 'rsync -zavh /efs/frappe/ /opt/frappe/ '
    test: '[ `cat /opt/frappe/efsync.timestamp` > `cat /efs/frappe/efsync.timestamp` ] && echo "opt fresher than efs"'
    command: 'rsync -zavh /opt/frappe/ /efs/frappe/'

  03_erpnext_run:
    # run this command from /opt directory
    cwd: /opt
    command: 'date +"%s%N" > /opt/frappe/efsync.timestamp'
    #command: 'su ec2-user -c "cd /opt/frappe/frappe-bench && bench start " '

