commands:
  00_supervisord_install:
    test: '[ ! -f /usr/local/bin/supervisord ] && echo "supervisord not installed... installing"'
    command: 'easy_install supervisor'

  01_supervisord_run:
    # run this command from /opt directory
    cwd: /opt
    command: '/usr/local/bin/supervisord -c /etc/supervisord.conf'

files:
  "/etc/supervisord.conf":
      mode: "000644"
      content : |
        ; Notes:
        ; priority=1 --> Lower priorities indicate programs that start first and shut down last
        ; killasgroup=true --> send kill signal to child processes too

        [supervisord]
        logfile = /tmp/supervisord.log
        logfile_maxbytes = 50MB
        logfile_backups=10
        loglevel = info
        pidfile = /tmp/supervisord.pid
        nodaemon = false
        minfds = 1024
        minprocs = 200
        umask = 022
        user = ec2-user
        identifier = supervisor
        directory = /tmp
        nocleanup = true
        childlogdir = /tmp
        strip_ansi = false
        environment = KEY1="value1",KEY2="value2"


        [program:frappe-bench-frappe-web]
        command=/opt/frappe/frappe-bench/env/bin/gunicorn -b 127.0.0.1:8000 -w 1 -t 120 frappe.app:application --preload
        priority=4
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/web.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/web.error.log
        user=root
        directory=/opt/frappe/frappe-bench/sites


        [program:frappe-bench-frappe-schedule]
        command=None schedule
        priority=3
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/schedule.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/schedule.error.log
        user=root
        directory=/opt/frappe/frappe-bench

        [program:frappe-bench-frappe-default-worker]
        command=None worker --queue default
        priority=4
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/worker.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/worker.error.log
        user=root
        stopwaitsecs=1560
        directory=/opt/frappe/frappe-bench
        killasgroup=true
        numprocs=1
        process_name=%(program_name)s-%(process_num)d

        [program:frappe-bench-frappe-short-worker]
        command=None worker --queue short
        priority=4
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/worker.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/worker.error.log
        user=root
        stopwaitsecs=360
        directory=/opt/frappe/frappe-bench
        killasgroup=true
        numprocs=1
        process_name=%(program_name)s-%(process_num)d

        [program:frappe-bench-frappe-long-worker]
        command=None worker --queue long
        priority=4
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/worker.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/worker.error.log
        user=root
        stopwaitsecs=1560
        directory=/opt/frappe/frappe-bench
        killasgroup=true
        numprocs=1
        process_name=%(program_name)s-%(process_num)d



        [program:frappe-bench-redis-cache]
        command=None /opt/frappe/frappe-bench/config/redis_cache.conf
        priority=1
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/redis-cache.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/redis-cache.error.log
        user=root
        directory=/opt/frappe/frappe-bench/sites

        [program:frappe-bench-redis-queue]
        command=None /opt/frappe/frappe-bench/config/redis_queue.conf
        priority=1
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/redis-queue.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/redis-queue.error.log
        user=root
        directory=/opt/frappe/frappe-bench/sites


        [program:frappe-bench-redis-socketio]
        command=None /opt/frappe/frappe-bench/config/redis_socketio.conf
        priority=1
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/redis-socketio.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/redis-socketio.error.log
        user=root
        directory=/opt/frappe/frappe-bench/sites


        [program:frappe-bench-node-socketio]
        command=/usr/bin/node /opt/frappe/frappe-bench/apps/frappe/socketio.js
        priority=4
        autostart=true
        autorestart=true
        stdout_logfile=/opt/frappe/frappe-bench/logs/node-socketio.log
        stderr_logfile=/opt/frappe/frappe-bench/logs/node-socketio.error.log
        user=root
        directory=/opt/frappe/frappe-bench




        [group:frappe-bench-web]
        programs=frappe-bench-frappe-web,frappe-bench-node-socketio



        [group:frappe-bench-workers]
        programs=frappe-bench-frappe-schedule,frappe-bench-frappe-default-worker,frappe-bench-frappe-short-worker,frappe-bench-frappe-long-worker



        [group:frappe-bench-redis]
        programs=frappe-bench-redis-cache,frappe-bench-redis-queue,frappe-bench-redis-socketio
