commands:
  00_supervisord_install:
    test: '[ ! -f /usr/local/bin/supervisord ] && echo "supervisord not installed... installing"'
    command: 'easy_install supervisor'

  01_supervisord_run:
    # run this command from /opt directory
    cwd: /opt
    command: '/usr/local/bin/supervisord -c /etc/supervisord.conf'

files:
  "/etc/supervisord.conf":
      mode: "000644"
      content : |
	; Notes:
	; priority=1 --> Lower priorities indicate programs that start first and shut down last
	; killasgroup=true --> send kill signal to child processes too

	[supervisord]
	logfile = /tmp/supervisord.log
	logfile_maxbytes = 50MB
	logfile_backups=10
	loglevel = info
	pidfile = /tmp/supervisord.pid
	nodaemon = false
	minfds = 1024
	minprocs = 200
	umask = 022
	user = ec2-user
	identifier = supervisor
	directory = /tmp
	nocleanup = true
	childlogdir = /tmp
	strip_ansi = false
	environment = KEY1="value1",KEY2="value2"


	[program:erpnext-frappe-web]
	command=/home/ec2-user/erpnext/env/bin/gunicorn -b 127.0.0.1:8000 -w 4 -t 120 frappe.app:application --preload
	priority=4
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/web.log
	stderr_logfile=/home/ec2-user/erpnext/logs/web.error.log
	user=ec2-user
	directory=/home/ec2-user/erpnext/sites


	[program:erpnext-frappe-schedule]
	command=/usr/local/bin/bench schedule
	priority=3
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/schedule.log
	stderr_logfile=/home/ec2-user/erpnext/logs/schedule.error.log
	user=ec2-user
	directory=/home/ec2-user/erpnext

	[program:erpnext-frappe-default-worker]
	command=/usr/local/bin/bench worker --queue default
	priority=4
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/worker.log
	stderr_logfile=/home/ec2-user/erpnext/logs/worker.error.log
	user=ec2-user
	stopwaitsecs=1560
	directory=/home/ec2-user/erpnext
	killasgroup=true
	numprocs=1
	process_name=%(program_name)s-%(process_num)d

	[program:erpnext-frappe-short-worker]
	command=/usr/local/bin/bench worker --queue short
	priority=4
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/worker.log
	stderr_logfile=/home/ec2-user/erpnext/logs/worker.error.log
	user=ec2-user
	stopwaitsecs=360
	directory=/home/ec2-user/erpnext
	killasgroup=true
	numprocs=1
	process_name=%(program_name)s-%(process_num)d

	[program:erpnext-frappe-long-worker]
	command=/usr/local/bin/bench worker --queue long
	priority=4
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/worker.log
	stderr_logfile=/home/ec2-user/erpnext/logs/worker.error.log
	user=ec2-user
	stopwaitsecs=1560
	directory=/home/ec2-user/erpnext
	killasgroup=true
	numprocs=1
	process_name=%(program_name)s-%(process_num)d



	[program:erpnext-redis-cache]
	command=/usr/local/bin/redis-server /home/ec2-user/erpnext/config/redis_cache.conf
	priority=1
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/redis-cache.log
	stderr_logfile=/home/ec2-user/erpnext/logs/redis-cache.error.log
	user=ec2-user
	directory=/home/ec2-user/erpnext/sites

	[program:erpnext-redis-queue]
	command=/usr/local/bin/redis-server /home/ec2-user/erpnext/config/redis_queue.conf
	priority=1
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/redis-queue.log
	stderr_logfile=/home/ec2-user/erpnext/logs/redis-queue.error.log
	user=ec2-user
	directory=/home/ec2-user/erpnext/sites


	[program:erpnext-redis-socketio]
	command=/usr/local/bin/redis-server /home/ec2-user/erpnext/config/redis_socketio.conf
	priority=1
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/redis-socketio.log
	stderr_logfile=/home/ec2-user/erpnext/logs/redis-socketio.error.log
	user=ec2-user
	directory=/home/ec2-user/erpnext/sites


	[program:erpnext-node-socketio]
	command=/usr/bin/node /home/ec2-user/erpnext/apps/frappe/socketio.js
	priority=4
	autostart=true
	autorestart=true
	stdout_logfile=/home/ec2-user/erpnext/logs/node-socketio.log
	stderr_logfile=/home/ec2-user/erpnext/logs/node-socketio.error.log
	user=ec2-user
	directory=/home/ec2-user/erpnext




	[group:erpnext-web]
	programs=erpnext-frappe-web,erpnext-node-socketio



	[group:erpnext-workers]
	programs=erpnext-frappe-schedule,erpnext-frappe-default-worker,erpnext-frappe-short-worker,erpnext-frappe-long-worker



	[group:erpnext-redis]


